.media
  .media-left
    = link_to user_path(comment.user_id) do
      = image_tag @prototype.user.avatar, class: 'media-object', size: '64x64'
  .media-body
    #top-aligned-media.media-heading
      = @prototype.user.nickname
    %p= comment.text
