= render 'layouts/main_header'
= render partial: "prototypes/prototype", collection: @prototypes
.text-center
  %ul.pagination
    %li.disabled
      %span{ aria: { hidden: 'true' }}
        = paginate(@prototypes)
