= render 'layouts/main_header'
.container.proto-list
  .row
    = render partial: "prototype", collection: @prototypes
.text-center
  %ul.pagination
    %li.disabled
      %span{ aria: { hidden: 'true' }}
        .pagination-design
          = paginate(@prototypes)
