.jumbotron
  .container.text-center
    = image_tag("header_logo.png", alt: "PROTO TYPE - SHARE THE PROTOTYPE", height: "73px")
.container
  .row
    %h2.tag-list
      Tag list
      %ul.proto-tag-list.list-inline
        %li
        - @tags.each do |tag|
          = link_to tag.name, tag_path(tag), class: 'btn btn-default'
